@charset "utf-8";
/*stijlen voor het formulier....*/
form {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.14em;
  background: coral;
  padding: 1em;
}
legend {
  padding-top: 20px;
}
td {
  width: 200px;
}