body {
    background-image: url(../home/images/bg.jpg);
	margin:0;
	padding:0;
}

header, menu, section, aside_left, aside_right, article, main, footer {
	display:block;
	box-sizing:border-box;
}

#container {
    width: 80%;
    min-height: 900px;
    margin: auto;
    position: relative;
}

header {
    width: 960px;
    height: 150px;
    background-color: #FFFFFF;
}
.header_index {
    height: 150px;
	background-color: rgba(0,0,0,0.00);
}

.header_museum, .header_collectie {
    height: 150px;
    background-size: cover;
    background-image: url(../over%20het%20museum/images/museum.jpg);
	float: left;
}

#logo{
    background-image: url(../tentoonstellingen/images/allardpiersonmuseum-en-uva-logo-nl.jpg);
    width: 500px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 20px;
}

.menu_rechtsboven {
    width: 350px;
    height: 50px;
	position: absolute;
    top: 50px;
	left: 600px;
	margin: 0px 5px
}

#balk {
    width: 960px;
    height: 50px;
    background-color: #262828;
	position: absolute;
    top: 100px;
}

#menu {
    width: 840px;
    height: 80px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
	padding-top: 1px;
	padding-bottom: 30px;
}

#menu h1 {
	padding-left: 40px;
}

#aside_left {
	width: 20%;
	min-height: 400px;
	padding-left: 10px;
	padding-top: 5px;
	float: left;
}

#aside_right {
	width: 20%;
    min-height: 400px;
	padding-left: 10px;
	float: right;
}

#facebook {
    width: 150px;
    height: 90px;
	padding-top: 20px;
	padding-left: 15px;
}

article {
	width: 57.5%;
	margin: auto;
	min-height: 200px;
	float: left;
}

#titel_balk {
    width: 470px;
	height: 40px;
    background-color: #262828;
    text-align: left;
    padding-left: 15px;
	padding-top: 1px;
}

main {
    width: 960px;
    min-height: 400px;
    background-color: #DBDBDB;
	float: left;
}

.main_index {
    width: 960px;
    min-height: 660px;
    background-image: url(../home/images/bg-groot.jpg);
}

section {
	width: 840px;
	min-height:400px;
    padding-top: 20px;
	padding-bottom: 40px;
	background-color: white;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;	
} 

.group:after {
  content: "";
  display: table;
  clear: both;
}

footer {
	width: 960px;
    height: 160px;
    background-color: #DBDBDB;
	float: left;
}

.footerblok1 {
	width: 200px;
	height: 160px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}

.footerblok2 {
	width: 360px;
	height: 160px;
	float: left;
	padding-top: 10px;
}

.footerblok3 {
	width: 390px;
	height: 160px;
	float: right;
}

/*css regels bij pagina index.html*/
.contentblokken {
    width: 840px;
    height: 250px;
	float: left;
	margin-left: 60px;
}

.contentblok1, .contentblok2,.contentblok3, .contentblok4 {
    width: 210px;
    height: 150px;
    float: left;
}

.contentbalk1 {
	width: 180px;
    height: 33px;
	margin-top: 20px;
	background-color: #262828;
	padding: 5px;
}

.contentbalk2 {
	width: 180px;
    height: 53px;
	margin-top: 20px;
	background-color: #262828;
	padding: 5px;
}
.contentbalk3 {
	width: 180px;
    height: 33px;
	margin-top: 20px;
	background-color: #262828;
	padding: 5px;
}

.contentbalk4 {
	width: 180px;
    height: 33px;
	margin-top: 20px;
	background-color: #262828;
	padding: 5px;
}

#blok1 {
    width: 190px;
    height: 70px;
    background-image: url(../home/images/blok1.jpg);
}

#blok2 {
    width: 190px;
    height: 50px;
	float: left;
    background-image: url(../home/images/blok2.jpg);
}

#blok3 {
    width: 190px;
    height: 70px;
	float: left;
    background-image: url(../home/images/blok3.jpg);
}

#blok4 {
    width: 190px;
    height: 115px;
    margin-top: 20px;
    float: right;
    background-image: url(../home/images/blok4.jpg);
}

/*css regels bij pagina tentoonstellingen.html*/

#foto1, #foto2, #foto3, #foto4, #foto5, #foto6, #foto7 {
	float:left;
	width: 115px;
    height: 110px;
}

#foto1 {
    background-image: url(../tentoonstellingen/images/1%20fotoblok/1.jpg);
}
#foto1:hover { /*voor IE*/
  background-image: url(../tentoonstellingen/images/1%20fotoblok/dummylink.png);
}
#foto2 {
    background-image: url(../tentoonstellingen/images/1%20fotoblok/2.jpg);    
}
#foto2:hover { /*voor IE*/
  background-image: url(../tentoonstellingen/images/1%20fotoblok/dummylink.png);
}
#foto3 {
    background-image: url(../tentoonstellingen/images/1%20fotoblok/3.jpg);    
}
#foto3:hover { /*voor IE*/
  background-image: url(../tentoonstellingen/images/1%20fotoblok/dummylink.png);
}
#foto4 {
    background-image: url(../tentoonstellingen/images/1%20fotoblok/4.jpg);    
}
#foto4:hover { /*voor IE*/
  background-image: url(../tentoonstellingen/images/1%20fotoblok/dummylink.png);
}
#foto5 {
    background-image: url(../tentoonstellingen/images/1%20fotoblok/5.jpg);    
}
#foto5:hover { /*voor IE*/
  background-image: url(../tentoonstellingen/images/1%20fotoblok/dummylink.png);
}
#foto6 {
    background-image: url(../tentoonstellingen/images/1%20fotoblok/6.jpg);    
}
#foto6:hover { /*voor IE*/
  background-image: url(../tentoonstellingen/images/1%20fotoblok/dummylink.png);
}
#foto7 {
    background-image: url(../tentoonstellingen/images/1%20fotoblok/7.jpg);    
}
#foto7:hover { /*voor IE*/
  background-image: url(../tentoonstellingen/images/1%20fotoblok/dummylink.png);
}

.section_tentoonstellingen {
    width: 840px;
    min-height: 420px;
    padding-top: 20px;
    background-image: url(../tentoonstellingen/images/section-bg.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    margin-left: auto;
    margin-right: auto;	
}
