
p   {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
h1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: normal;
    font-size: 35px;
	margin-botton: 0;
}
h2 {
    color: #FFFFFF;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-top: 9px;
}
h3 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: #5E5E5E;
    text-align: left;
    line-height: 8px;
}
h5 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: #000000;
    text-align: left;
    line-height: 8px;
}
h4 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: bold;
    font-size: 23px;
}

nav ul { 
	list-style-type:none;
	text-align: left;
	margin-top: 10px;
}

nav li {
    display: inline;	 	
}

a {
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: small;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    margin-right: 15px;  
}

a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:hover {
    color: red;
}
a:active {
    color: red;
}
